#container {
  border: 5px solid black;
  padding: 20px;
  /* max-width: 450px; */
  min-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.2rem;
  /* position: absolute;
  left: 40%;
  top: 20%; */
}

#tool {
  align-self: flex-end;
  cursor: pointer;
}

.line {
  border: 1px solid #DADADA;
}

table {
  font-size: 0.2rem;
  table-layout: fixed;
}

th > i {
  margin-right: 0.3rem;
}

.difficulty-wrapper {
  text-align: left;
}

label > input {
  width: 70%;
  text-align: center;
}

.form-check input[type="radio"] {
  margin-left: 1rem;
  margin-right: 1rem;
}

.no-border {
  border: none;
  border-bottom: 2px solid grey;
  /* border-top: none;
  border-left: none;
  border-right: none; */
}

#header, #section {
  display: flex;
  justify-content: center;
  align-content: center; 
  /* margin-top: 1.1em; */
}

#header {
  flex-flow: column wrap;
}

#info {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.3em;
}


.square {
  background-color: grey;
  border: 2px solid;
  box-sizing: border-box;
  min-height: 30px;
  line-height: 30px;
  font-size: small;
}

#game {
  display: grid;
}

.square {
	display: grid;
  justify-content: center;
  align-content: center; 
}

.open {
  background-color: lavender;
}

.GG {
  background-color: red;
}

.ocean {
  background-color: royalblue;
}

.mine1 {
  color: royalblue;
}

.mine2 {
  color: green;
}

.mine3, .fa-times {
  color: red;
}

.mine4 {
  color: black;
}