body {
  position: absolute;
  left: 40%;
  top: 20%;
}

#header, #section {
  display: flex;
  justify-content: center;
  align-content: center; 
  margin-top: 1.1em;
}

#header {
  flex-flow: column wrap;
}

#info {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.3em;
}


.square {
  background-color: grey;
  border: 2px solid;
  box-sizing: border-box;
  min-height: 30px;
  line-height: 30px;
}

#game {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.square {
	display: grid;
  justify-content: center;
  align-content: center; 
}

.open {
  background-color: lavender;
}

.GG {
  background-color: red;
}

.ocean {
  background-color: royalblue;
}