.square {
  background-color: grey;
  border: 2px solid;
  box-sizing: border-box;
  min-height: 30px;
  line-height: 30px;
}

#game {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.square {
	display: grid;
  justify-content: center;
  align-content: center; 
}

.open {
  background-color: lavender;
}

.GG {
  background-color: red;
}

.ocean {
  background-color: royalblue;
}